* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}

header h1 {
  font-size: 32px;
  font-weight: 700;
}

header img {
  height: 36px;
  margin-right: 16px;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

form {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

form input {
  flex: 1;
  font-size: 18px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.2s;
}

body.dark-mode form input {
  background-color: #1e1e1e;
  color: #fff;
  border: 1px solid #444;
}

form button {
  background-color: #009432;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #006f24;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

table th {
  background-color: #009432;
  color: #fff;
  padding: 16px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

table td {
  padding: 16px;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}

body.dark-mode table th {
  background-color: #1e6f42;
}

body.dark-mode table td {
  border-color: #444;
}

#btn-tema {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #009432;
  color: #009432;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

#btn-tema:hover {
  background-color: #009432;
  color: white;
}

body.dark-mode #btn-tema {
  border-color: #1e6f42;
  color: #1e6f42;
}

body.dark-mode #btn-tema:hover {
  background-color: #1e6f42;
  color: white;
}
